<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "Avatar.jpg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Keras Hanog</h1>
    <p>Welcome to my blog.</p>
    <p>This is a example of serial tutorials 12 Web Apps in 12 Weeks Challenge of Mackenzie Child. It's so cool stuff, right!.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Facebook <a href="http://fb.com/keras.hanog">Keras Hanog</a> or email to me <a href='mailto:kerashanog@gmail.com'>here</a>.</p>
  </div>
</div>